a.link{-webkit-transition:all 0.25s ease-out;-moz-transition:all 0.25s ease-out;-ms-transition:all 0.25s ease-out;-o-transition:all 0.25s ease-out;-khtml-transition:all 0.25s ease-out;transition:all 0.25s ease-out}

body{width:100%;height:100%;margin:0;padding:0;background-color:#033649}
svg{width:100%;height:100%;margin:0;padding:0}
a.link{opacity:0.5}
a.link:hover{opacity:1}
